body{
    background-color:rgba(0,0,0,0);
    display: flex;
}

.window{
    background-color: rgb(255,255,255);
    box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.menu-top{
    background-color: rgb(155,155,155);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 25px;
    padding: 0 5px;
    flex-grow: 1;
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    -webkit-app-region: drag
}

.menu-top .button{
    -webkit-app-region: no-drag;
}

.content{
    padding: 20px;
}

.button{
    border-radius:50%;
    width: 10px;
    height: 10px;
    background-color: red;
    border:0;
}

.button:hover{
    background-color: darkred;
}